.title {
  font-size: 23px;
  font-weight: 700;
}

.daily-item {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
  border-radius: 10px;
  height: 40px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 5px 20px;
}

.icon-small {
  width: 40px;
}

.daily-item .day {
  cursor: inherit;
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  cursor: inherit;
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.min-max {
  color: #504f4f;
}

.daily-details-grid {
  border-radius: 10px;
  background: #a1d3e8;
  box-shadow: 20px 20px 60px #89b3c5,
    -20px -20px 60px #b9f3ff;
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  row-gap: 0;
}

.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #4e4d4d;
}

.daily-details-grid-item label:last-child {
  color: #212121;
}